@import "~bowl/themes/mt/colors";

.login-wrapper {
  background-image: linear-gradient(to top, #222c38, #374b6e);
  padding-top: 10%;
  min-height: 100vh;

  .login {
    z-index: 1001;

    .login__form {
      margin-top: 0;
      border-radius: 5px;

      .header__logo {
        max-width: 200px;
        margin-bottom: 1.2em;
      }

      .login__input-wrapper {
        i {
          color: #243f94;
        }
      }

      .form-group {
        text-align: center;
      }
    }
  }
}
