<div class="login-wrapper">
  <mt-login [literals]="loginLiterals"
            [errorMessage]="currentError"
            [loading]="loading"
            [logo]="logoIcon"
            (loginSubmitted)="onSubmit($event)">
  </mt-login>
</div>
