<div class="settings-main">

  <mt-home-template [iconClasses]="'fas fa-sliders-h'"
                    [pageTitle]="'settings.home.title' | translate"
                    [dashboardTitle]="'home.mainActions' | translate"
                    [dashboardContent]="dashboardItems">
  </mt-home-template>

  <ng-template #changeLanguageTemplate>
    <div class="languages">
      <div>
        <span>{{'settings.language.selectLanguage' | translate}}</span>
      </div>
      <mt-lang-selector [languages]="appLanguages"
                        (languageChange)="onLanguageChanged($event)">
      </mt-lang-selector>
    </div>
  </ng-template>

</div>
