@import "variables";

html, body {
  height: 100%;
  margin: 0;
  font-family: $font-family-base;
  font-size: 16px;
  font-weight: 400;
  /* Antialiase fonts in MacOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-page-table-container {
  padding: 1em;
}


.login {
  max-width: 288px;

  .row {
    height: 392px;
  }

  .login__form {
    max-width: 100%;
    margin-left: 0;
    flex: 0 0 100%;
    padding: 0;
    border: 0;
    border-radius: 8px;

    .login__header {
      background-color: #222c38;
      padding: 16px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      .header__logo {
        height: 60px;
      }
    }

    .form-group {
      margin: 53px 16px 0;
      //&.alert {
      //  margin-top: 53px;
      //}
    }

    .login__button-wrapper {
      float: right;
      margin-bottom: 0;
      margin-right: 0;
      padding: 5px 16px 16px 0;

      .login__form--submit {
        margin-top: 0;
        background-color: #1189a7;
        max-width: 100%;
        width: 120px;
        height: 48px;
        color: white;
      }
    }
  }
}

.ellipsis-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.negative-difference {
    color: mt-color('danger', 'accent');
}
.possitive-difference {
    color: mt-color('clover');
}

.tab-content-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: mt-color('dark', 'main');
}

.menu-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  z-index: 1002;
  transition: all .4s ease 0s;

  .onmix-logo-size {
    max-width: 70%;
    margin-left: 4px;
  }
}

.sidebar__logo a {
  min-height: 66px;
}


.marked-text {
  background-color: #e8f0fe;
}

.legend-credit {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  color: #93a3ba;
  padding-top: 5px;
  span {
    display: inline-block;
    width: 90%;
  }
  i {
    padding-right: 5px;
    vertical-align: top;
    padding-top: 2px;
  }
}

color-sketch > .sketch-picker {
  box-shadow: none !important; //TODO REVIEW
  padding: 0 !important;
  .sketch-saturation {
    .saturation-circle {
      width: 8px;
      height: 8px;
    }
  }

  .sketch-controls {

    .sketch-color {
      display: none;
    }

    color-sketch-fields, color-sketch-preset-colors {
      display: none !important;
    }
    .sketch-hue {
      margin-top: 0.5em;
    }
  }
}

.read-only > mt-switch > .mt-switch > label {
  cursor: default;
}

.mt-switch .switch-rounded:disabled+label {
  cursor: default;
}


.parent-cell-ellipsis {
  @extend .text-truncate;
  display: inline-block;
  width: calc(100% - 22px);
}
