@import "~bowl/themes/mt/colors";

$menu-width-expanded: 160px;
$menu-width-collapsed: 80px;
$light-blue-grey-onmix: #e4e8f8;

$font-family-base: 'Source Sans Pro', sans-serif;
$actions-button-height: 25px;

$fa-font-path: '~font-awesome/fonts';

$timeline-event-type-color: (
  changes: $light-sage,
  jackpot: $faded-pink,
  casino: mt-color('sky', 'sad'),
  levels: $sandy-yellow
);

$status-styles: (
  active: (
    background-color: mt-color('clover')
  ),
  accepted: (
    background-color: mt-color('clover')
  ),
  pending_withdraw: (
    background-color: mt-color('sky', 'sad')
  ),
  cancelled: (
    background-color: mt-color('danger', 'accent')
  ),
  closed: (
    background-color: mt-color('danger', 'accent')
  ),
  inactive: (
    background-color: mt-color('teal', 'sad')
  ),
  locked: (
    background-color: mt-color('teal', 'shadow')
  ),
  limit_exceeded: (
    background-color: $orangey-yellow
  ),
  consumed: (
    background-color: $orangey-yellow
  ),
  expired: (
    background-color: mt-color('dark', 'main')
  ),
  rejected: (
    background-color: mt-color('teal', 'shadow')
  ),
  approved: (
    background-color: mt-color('clover')
  ),
  unprocessable: (
    background-color: mt-color('teal', 'shadow')
  ),
  desisted: (
    background-color: mt-color('danger', 'accent')
  ),
  externally_resolved: (
    background-color: mt-color('sky', 'main')
  ),
  paused: (
    background-color: $orangey-yellow
  ),
  removed: (
    background-color: mt-color('danger', 'accent')
  ),
  included: (
    background-color: mt-color('white'),
    color: mt-color('clover'),
    border: 1px solid mt-color('clover')
  ),
  excluded: (
    background-color: mt-color('white'),
    color: $orangey-yellow,
    border: 1px solid $orangey-yellow
  ),
  in_progress: (
    background-color: mt-color('sky', 'sad')
  ),
  available: (
    background-color: mt-color('clover', 'main')
  ),
  failed: (
    background-color: mt-color('danger', 'accent')
  ),
  hidden: (
    background-color: transparent,
    color: mt-color('dark', 'main')
  )
);

@function mt-status-styles($name, $property) {
  $status-style: null;
  // Get the status style spectrum
  $status-style-spectrum: map-get($status-styles, $name);
  // Get the status style property
  @if $status-style-spectrum {
    $status-style: map-get($status-style-spectrum, $property);
  }
  @return $status-style;
}
