//Temporal
@import "~bowl/themes/mt/colors";

.modal {
  .modal-content {
    border-radius: 4px;
    background-color: mt-color('dark', 'accent');
    border: none;

    .modal-header {
      color: mt-color('white');
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      padding: 1em;

      .modal-title {
        font-size: 1.25em;
      }

      .close {
        color: mt-color('white');
        opacity: 1;
        margin: 0;
        padding: .5em;
        font-size: 1em;
        display: flex;
        align-self: center;
        justify-content: flex-end;
        width: 50px;
        outline: none;
        text-shadow: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .modal-body {
      padding: 1em;
      background-color: mt-color('white');
    }

    .modal-footer {
      border: none;
      padding: 1em;
      background-color: mt-color('white');
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.mt-select-full-width .mt-selector__toggler,
.mt-select-full-width .mt-selector__dropdown {
  width: 100%;
}