@import "~bowl/themes/mt/colors";

.modal-header {
  .title-icon {
    margin-right: 10px;
  }
}

.modal-body {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;

  .summary {
    background-color: mt-color("neutral");
    border: 1px solid mt-color("neutral", "accent");
    padding: 1em;
    margin-bottom: 1em;
  }

  .question {
    padding-top: 1em;
  }
}


.summary-container {
  width: 100%;
  border: solid 1px #dbe6ee;
  background-color: #dbe6ee;
  padding: 1em;
  float: left;

  .summary-container--icons {
    display: inline-block;
    float: left;
    width: 80px;

    .fa-arrow-right {
      font-size: 20px;
      padding: 0.5em;
      color: #01a8e6;
    }

    .fa-money-bill-alt, .fa-cash-register {
      font-size: 28px;
      color: #4e5f7b;
    }
  }

  .summary-container--text {
    display: inline-block;
    float: left;
    width: 315px;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }
}

.messages-container {
  float: left;
  width: 100%;
  padding: 1em;
}
