mt-select {
  .mt-select--operation {
    .mt-selector__options {
      margin: .5em 0 0;

      .operation-admin ~ mt-select-option .mt-selector__dropdown-item {
        padding: 0;

        .item-text {
          .operation-option {
            border-left: 4px solid;
            padding: .25em .5em;
          }
        }

        i {
          padding: 10px 0 !important;
        }
      }
    }
  }
}


