@import "~bowl/themes/mt/colors";
@import "~bowl/themes/mt/variables";

$max-indent: 10;
$indent-size: 1.25rem;

@for $i from 1 through $max-indent {
  app-tree-table {
    .cell-indent-#{$i}{
      &.first-column {
        padding-left: $indent-size * $i;
        &.leaf-cell {
          padding-left: $indent-size * ($i + 1);
        }
      }
      @include media-breakpoint-down(sm) {
        padding-left: $indent-size * $i;
        &.leaf-cell, &.first-column.leaf-cell {
          padding-left: $indent-size * $i;
        }
      }
    }
  }

  mt-table {
    .cell-indent-#{$i}{
      padding-left: $indent-size * $i;
      &.leaf-cell {
        padding-left: $indent-size * $i;
      }
      @include media-breakpoint-down(sm) {
        padding-left: 0;
        &.leaf-cell, &.first-column.leaf-cell {
          padding-left: 0;
        }
      }
    }
  }
}

.table-child-aligned .table .child-first-cell {
  padding-left: 0;
}

app-tree-table {
    @extend table;
    color: mt-color('dark', 'main');
    .tree-table-row {
        @extend tr;
    }
    app-tree-table-row.tree-table-head {
        @extend thead;
        background-color: mt-color('dark', 'main');
        .tree-table-row .tree-table-col {
            @extend th;
            font-weight: 600;
        }
    }
    app-tree-table-row.tree-table-body {
        @extend tbody;
        &:nth-child(odd) {
            background-color: mt-color('neutral', 'main');
        }
        .tree-table-row {
            .tree-table-col {
                @extend td;

                .btn-link {
                    min-width: 50px;
                    height: unset;
                    text-align: left;
                    padding: 0;
                }
            }
            &:hover {
                background-color: mt-color('neutral', 'shadow');
            }
            border-top: 1px solid mt-color('neutral', 'accent');
        }
    }
}

.bookkeeping-table {
    th, .tree-table-head .tree-table-col {
        &:not(:first-child),  {
            text-align: right;
            * {
                text-align: right;
                justify-content: flex-end;
            }
        }
    }
}

.device-rounds-table {
  color: red !important;
  th, td{
    &:nth-child(n+3):nth-child(n+4) {
      text-align: right;
      * {
        text-align: right;
        justify-content: flex-end;
      }
    }
  }
}
