@import "~bowl/themes/mt/colors";

.tabs {
  background-color: #f0f5fa;
  border-radius: 3px;
  margin: 1em 0;

  &__container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    .section-tab {
      padding: 0;
      transition: all .3s ease-in-out;
      width: 100%;

      &:first-child {
        border-radius: 3px 0 0 3px;
      }

      a {
        display: block;
        padding: 13px 15px;
        color: #253049;
        outline: none;

        &:hover {
          text-decoration: none;
        }
      }

      &:hover {
        cursor: pointer;
        background-color: #dce1e6;
        text-decoration: none;
      }

      &--active {
        a {
          color: #fff;
          text-decoration: none;
        }

        &:hover {
          background-color: #4e5e7c;
          text-decoration: none;
        }

        background-color: #4e5e7c;
      }

      &--disabled {
        a {
          color: #dce1e6;
          text-decoration: line-through;
        }
      }
    }
  }
}

.tab-header {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid mt-color('neutral');
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 24px;
  color: mt-color('dark');

  &__title {
    font-size: 20px;

    .header__icon {
      padding: 0 10px;
    }

    label {
      margin: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    button + button {
      margin-left: .5em;
    }

    i {
      color: mt-color('teal', 'sad');
      font-size: 14px;
      line-height: 24px;
      padding-right: 6px;
    }
  }
}

.bowl-big-tabs {
  .mt-tabs__list {
    &:before {
      border: none;
    }

    .mt-tab {
      display: flex;
      align-items: center;
      min-width: 162px;
      height: 80px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 0;
      margin: 0;
      border-top: 1px solid mt-color('dark');
      border-left: 1px solid mt-color('dark');
      border-right: 1px solid mt-color('dark');
      border-bottom: none;

      &--new {
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        background-color: #ffffff;
        border-top: 1px dashed mt-color('teal', 'sad');
        border-right: 1px dashed mt-color('teal', 'sad');

        i, svg {
          font-size: 12px;
          display: block;
          width: 100%;
          margin: 0;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .mt-tab + .mt-tab {
      border-left: none;
    }

    .custom-template {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__label {
        font-size: 20px;
        line-height: 20px;
      }

      &__badge {
        width: 128px;
        height: 16px;
        line-height: 16px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
        color: #ffffff;

        &--yellow {
          background-color: #ffbe1c;
        }

        &--green {
          background-color: #00C514;
        }
      }
    }
  }

  .mt-tabs__content {
    border: 1px solid mt-color('dark');
    padding: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .tabs {
    &__container {
      .section-tab {
        width: auto;
      }
    }
  }
}

