@import '../../scss/base/variables';
@import "~bowl/themes/mt/colors";
@import "~bowl/themes/mt/buttons";
@import "~bootstrap/scss/bootstrap";

$white-arrow: "data:image/svg+xml;charset=utf8,\
<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512'>\
<path fill='white' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z'/>\
</svg>";
.menu-wrapper-mobile {
  display: block;
}

.menu-wrapper-desktop {
  display: none;
}

.app-wrapper {
  position: relative;
  width: 100%;
  z-index: 1000;
  padding: 0;
  background: mt-color('neutral');
  transition: all .4s ease 0s;

  &__container {
    padding: 0;
    background: #fff;
    border: 1px solid #d6d8e3;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.09);
    height: 100%;
    min-height: calc(100vh - 6.6em);
  }

  &__title-bar {
    min-height: calc(100vh - 9.5em);
  }
}

.top-bar-wrapper {
  background-color: mt-color('teal');
  padding: 5px 1em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1002;
  width: 100%;
  transition: all .4s ease;

  &__search-bar {
    margin-top: 2px;
  }

  &__operation-selector {
    margin-top: 2px;

    .operation-selector-container {
      height: 36px;
      float: left;
      border-radius: 4px;
      border: solid 1px rgba(94, 105, 125, 0.3);
      background-color: rgba(216, 216, 216, 0.3);
      display: inline-flex;

      .operation-selector--label {
        display: inline-block;
        padding: 3px 10px;
        font-size: 18px;
        font-weight: 600;
        color: #323759;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .operation-selector--label-name {
        @extend .operation-selector--label;
        float: left;
      }

      .operation-selector--label-currency {
        @extend .operation-selector--label;
        float: right;
        width: 60px;
      }
    }
  }


  &__widgets, &__links {
    justify-content: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 56px;
  }

  &__links {
    float: right;
    width: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__widgets {
    color: white;
    list-style: none;
    margin: 0 20px 0 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    &__clock {
      float: right;
      display: inline-block;
      padding: 0 0.65rem 0 0.5rem;
    }

    &__op-selector {
      .operation-admin {
        border-bottom: 1px solid $pale-grey;
        white-space: nowrap;
        margin: 0 0 0.5rem;
        box-sizing: content-box;
        font-size: 16px;
        padding: .25em .5em .5em;
        cursor: pointer;

        &__icon {
          color: #4e5f7b;
          margin-right: 12px;
        }

        &__title {
          color: #4e5f7b;
          font-weight: 600;
        }
      }

      ::ng-deep {
        .mt-selector__toggler {
          display: flex;
          flex-direction: row-reverse;
          width: 100%;
          background-color: transparent;
          color: white;
          padding-right: 8px;
          background-image: url($white-arrow);

          &:disabled {
            background-image: none;
          }

          .placeholder {
            @extend .text-truncate;
            color: white;
            font-weight: 400;
          }

          &:focus, &--focused, &:hover {
            -webkit-text-fill-color: white;
            color: white;
            background-color: $steel;

            &:disabled {
              background-color: transparent;
            }
          }
        }

        .mt-selector__dropdown {
          right: 0;
        }
      }
    }

    &__op-display {
      padding: 8px;
    }
  }

  .hamburguer {
    font-size: 2.2em;
    color: white;
    margin-top: 5px;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.title-bar-wrapper {
  width: 100%;
  padding: 1em;
  transition: all .4s ease .4s;
  position: absolute;
  z-index: 1001;
  top: 60px;
  right: 0;
  background-color: #f0f5fa;
  max-height: 60px;

  .title-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__link {
      color: mt-color('sky');
      display: flex;
      flex: 1 100;
      padding-right: 1em;
      min-width: 0;

      a {
        color: mt-color('sky');
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
          cursor: pointer;
        }
      }

      i {
        font-size: 1.2em;
        margin-right: .2em;
        margin-top: 2px;
      }
    }

    &__title {
      text-align: center;
      font-weight: 600;
      flex: 1 100;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: $dusk-three;
    }

    &__actions {
      text-align: right;
      flex: 1 100;
      padding-left: 1em;

      .actions-combo {
        position: relative;

        &__link {
          color: mt-color('sky');
          transition: transform .3s ease-in-out 0s;

          &:hover {
            cursor: pointer;
            color: mt-color('sky', 'accent');
          }
        }

        &__panel {
          position: absolute;
          top: 30px;
          right: 0;
          min-width: 150px;
          background-color: mt-color('dark');
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.18);

          button {
            background: transparent;
            width: 100%;
            text-align: left;
            outline: none;
            color: $light-blue-grey-two;
            padding: 10px 25px;
            border: 0;
            border-bottom: 1px solid $blue-grey-two;

            &:hover {
              background-color: $dark;
              color: white;
            }
          }

          button + button {
            margin-top: 0;
          }

          &:after {
            position: absolute;
            top: -6px;
            right: 30px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid mt-color('dark');
            border-left: 6px solid transparent;
            content: '';
          }
        }
      }

      .action-buttons {
        display: none;

        .btn {
          @extend .btn-ghost;
          border: 1px solid mt-color('dark', 'main');
          height: 32px;
          line-height: 19px;
          padding: 0 .5em;

          .fas {
            margin-right: .25em;
          }
        }

        button + button {
          margin-left: .5em;
        }
      }
    }

    &__item-navigator {
      padding-right: .5em;
    }
  }
}

.title-bar-wrapper + .app-wrapper {
  padding-top: 115px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .title-bar-wrapper + .app-wrapper {
    padding-top: 0;
  }

  .menu-wrapper-mobile {
    display: none;
  }
  .menu-wrapper-desktop {
    display: block;
    position: fixed;
    height: 100vh;
    z-index: 1002;
    width: $menu-width-expanded;

    &--collapsed {
      width: $menu-width-collapsed;
    }
  }

  .app-wrapper {
    width: calc(100% - #{$menu-width-expanded});
    margin-left: $menu-width-expanded;
    padding: 1em 1em 1.5em 1em;

    &--expanded {
      width: calc(100% - #{$menu-width-collapsed});
      margin-left: $menu-width-collapsed;
    }
  }

  .top-bar-wrapper {
    position: relative;
    width: calc(100% - #{$menu-width-expanded});
    margin-left: $menu-width-expanded;

    .hamburguer {
      display: none;
    }

    &--expanded {
      width: calc(100% - #{$menu-width-collapsed});
      margin-left: $menu-width-collapsed;
      transition: all .4s ease;
    }
  }

  .title-bar-wrapper {
    position: relative;
    top: 0;
    width: calc(100% - #{$menu-width-expanded});
    margin-left: $menu-width-expanded;

    .title-bar {
      &__actions {
        .actions-combo {
          display: none;
        }

        .action-buttons {
          display: block;
          margin-top: -2px; //correct margin because of actions-button padding
        }
      }
    }

    &--expanded {
      width: calc(100% - #{$menu-width-collapsed});
      margin-left: $menu-width-collapsed;
      transition: all .4s ease 0s;
    }

    .title-bar-wrapper + .app-wrapper {
      padding-top: 1em;
    }
  }
}
