<!--Templates with Icons -->
<ng-template #terminalGeneralStatusView let-statusObj="GeneralStatus">
    <a class="fas status-icon"
       [ngClass]="{
                    'fa-thumbs-up text-success':statusObj === 'OK',
                    'fa-exclamation-triangle text-warning':(statusObj === 'WARNING' || statusObj === 'WARNING_FRONTEND'),
                    'fa-thumbs-down text-danger':statusObj === 'ERROR'
                  }"
       aria-hidden="true"></a>
</ng-template>

<ng-template #terminalAcknowledgeView let-dateobj="TerminalAcknowledgement">
    <app-alive-icon [lastAck]="dateobj"></app-alive-icon>
</ng-template>

<!--Templates Dates -->
<ng-template #terminalStartView let-dateobj="TerminalStart">
    {{dateobj | localizeddate:'medium'}}
</ng-template>

<!-- Templates Translate-->
<ng-template #terminalScenarioView let-translateobj="Scenario">
    {{translateobj | translate }}
</ng-template>

<ng-template #statusView let-translateobj="Status">
    {{translateobj | translate }}
</ng-template>

<ng-template #typeView let-translateobj="ClientType">
    {{translateobj | translate }}
</ng-template>

<!-- Terminal table -->
<mt-table [uniqueId]="'terminal-table'"
          [loading]="loading"
          [showLoader]="true"
          [columns]="columns"
          [rows]="rowsDisplayed"
          [literals]="tableLiterals"
          [defaultSortCriteria]="defaultSort"
          (sortClick)="onSortClick($event)"
          [pagingData]="pagingData"
          [pageSizeOptions]="[10,20,50,100]"
          [enablePagination]="true"
          (pageChanged)="onPageChanged($event)"
          (pageSizeChanged)="onPageSizeChanged($event)"
          >
</mt-table>
